[Unit]
Description=Run Altcoin Aggressive Rolling Backtest Every 1 Hour

[Timer]
OnBootSec=3min
OnUnitActiveSec=1h
Unit=quant-altcoin-optimizer.service

[Install]
WantedBy=timers.target
