[Unit]
Description=Run Altcoin 2h Cached Backtest Every 1 Week

[Timer]
OnBootSec=3min
OnUnitActiveSec=7d
Unit=quant-altcoin-optimizer.service

[Install]
WantedBy=timers.target
